<!-- PARTIALS FILE -->
<%- include("template/header", { titleWeb: 'Detalle de mascota'})%>
<div class="container">
    <h1>Detalle Pet/Mascota</h1>
    <!-- Execute error in case no found document/mascota else store data -->
    <!-- 'error' is true if :id (Url-Params) does not matches in seatching database docs. -->
    <% if (error) { %>
        <p>
            <%= mensaje %>
        </p> 
        <a href="/mascotas" class="btn btn-dark btn-block">Volver a Pets/Mascotas</a>
    <% } %>
    <!-- If no errors (:id Matches with an document/mascota) -->
    <% if (!error) { %>
        <!--Form to store document/mascota details, each input has the same attributes from database object/document properties (Input1: nombre mascota, Input2: descripción mascota)-->
        <form id="formularioEditar" data-id="<%= mascota.id %>"> <!-- Tenga internamente el id de la mascota a la que dimos editar -->
            <p>ID: </p>
            <input type="text" class="form-control my-2" name="id" id="idInput" value="<%= mascota.id %>">
            <input type="text" class="form-control my-2" name="nombre" id="nombreInput" value="<%= mascota.nombre %> ">
            <input type="text" class="form-control my-2" name="descripcion" id="descripcionInput" value="<%= mascota.descripcion %> ">
            <button class="btn btn-warning btn-block" type="submit">Guardar Cambios</button>
        </form>
        <hr>
        <button class="btn btn-danger btn-sm" type="submit" id="btnEliminar" data-id="<%= mascota.id %>">ELIMINAR</button></td>
    <% } %>
</div>
<!-- PARTIALS FILE -->
<%- include("template/footer")%>
<script>
    // DELETE button is operating in Vanilla JavaScript because DELETE method can not be used in a button
    // Select and add an event for delete button
    const btnEliminar = document.querySelector('#btnEliminar')
    btnEliminar.addEventListener('click', async() => {
        // Capture data-id attribute from Delete button (contains id's document/mascota)
        const id = btnEliminar.dataset.id;
        // Using fetch() to capture document from Url-Params to delete only that document and send data with DELETE method
        try {
            // Set 'delete method' at /mascotas/:id Url
            const data = await fetch(`/mascotas/${id}`, {
                method: 'delete'
            })
            // Get data in JSON format(res from fetch()) and server response (estado) from (mascotas.js)
            const res = await data.json()
            if (res.estado) {
                window.location.href = '/mascotas' // Redirect to /mascotas (previos page to 'detalle.ejs') to ensure delete operation
            } else {
                console.log(error)
            }
        } catch (error) {
            console.log(error)
        }
    })

// UPDATE/PUT button is operating in Vanilla JavaScript because UPDATE/PUT method can not be used in a button
// Select and add an event for Edit-Form
    const formularioEditar = document.querySelector('#formularioEditar')
    formularioEditar.addEventListener('submit', async(event) => {
        event.preventDefault()
        // Capture input-values
        const nombre = formularioEditar.elements['nombre'].value 
        const descripcion = document.querySelector('#descripcionInput').value
        // This dataset is the :id from Url-Params, but loaded in the Form as attribute
        const id = formularioEditar.dataset.id
         // Using fetch() to capture document from Url-Params to update only that document and send data with PUT method
        try {
            const data = await fetch(`/mascotas/${id}`, {
                method: 'put',
                headers: {
                    'Content-Type': 'application/json'
                },
                // Set document info and transform to JSON format
                body: JSON.stringify({nombre: nombre, descripcion: descripcion})
            })
            const res = await data.json() // get data in JSON format (res from fetch) and estato from (mascotas.js))
            if (res.estado) { // If estado is true, it means updated success
                window.location.href = '/mascotas' // Redirect to /mascotas (previos page to 'detalle.ejs') to ensure update operation
            } else {
                console.log(error)
            }
        } catch (error) {
            console.log(error)
        }
    })
</script>