<%- include("template/header", { titleWeb: 'Detalle de mascota'})%>
    
<div class="container">
    <h1>Detalle Mascota</h1>
    <!-- Si hay un error (El id no matchea con una mascota), ejecuta un error, delo contrario muestra el resultado del server -->
    
    <% if (error) { %> <!-- Error, id no encontrado -->
        <p>
            <%= mensaje %> <!-- Mensaje de error de la ruta ('/id:') y su catch -->
        </p> 
        <a href="/mascotas" class="btn btn-dark btn-block">Volver a Mascotas</a>
    <% } %>
    <% if (!error) { %> <!-- Si EXISTE un ID (match) pinta el detalle -->
            <!-- Formulario para ver detalle de mascotas (Input1: nombre mascota, Input2: descripción mascota) -->
            <form id="formularioEditar" data-id="<%= mascota.id %>">
                <p>ID: </p>
                <input type="text" class="form-control my-2" name="id" id="idInput" value="<%= mascota.id %>">
                <input type="text" class="form-control my-2" name="nombre" id="nombreInput" value="<%= mascota.nombre %> ">
                <input type="text" class="form-control my-2" name="descripcion" id="descripcionInput" value="<%= mascota.descripcion %> ">
                <button class="btn btn-warning btn-block" type="submit">Editar</button>
            </form>
            <hr>
            <button class="btn btn-danger btn-sm" type="submit" id="btnEliminar" data-id="<%= mascota.id %>">ELIMINAR</button></td> <!-- Boton Eliminar-->
    <% } %>
</div>
<%- include("template/footer")%>
<script>
    const btnEliminar = document.querySelector('#btnEliminar') // Seleccionamos el botón por id
    btnEliminar.addEventListener('click', async() => { // Agregar un evento al dar click
        const id = btnEliminar.dataset.id // Capturamos el id que pasamos por atributo al botón eliminar, (contiene el id de la mascota)
        // Usamos fetch para capturar el documento json de la url especificada a eliminar
        try {
            const data = await fetch(`/mascotas/${id}`, {// Pasamos la url donde se eliminara el documento (id del documento)
                method: 'delete' // Ejecutar la url con el metodo delete 
            })
            const res = await data.json() // Obtiene la respuesta en formato json
            if (res.estado) { // Si el estado de la respuesta es verdadero...
                window.location.href = '/mascotas' // ...Redirige al usuario a /mascotas (una pagina atras de detalle)
            } else {
                console.log(error) // Muestra el error si lo hay.
            }
        } catch (error) {
            console.lg(error) // Si existe un error en la db lo muestra
        }
    })
    const formularioEditar = document.querySelector('#formularioEditar') // Selecciona el formulario
    formularioEditar.addEventListener('submit', async(e) => { // Al dar submit en el formulario editar
        e.preventDefault() // Previene la recarga de página 
        const nombre = formularioEditar.elements['nombre'].value // Obtener el valor/contenido forma1. del elemento del formulario con id nombre (ya actualizadó)
        const descripcion = document.querySelector('#descripcionInput').value // Obtener el valor/contenido forma2. del elemento del formulario con id #descripcionInput (ya actualizadó)
        const id = formularioEditar.dataset.id // Id correspondiente del documento
        try {
            const data = await fetch(`/mascotas/${id}`, {// Pasamos la url donde se actualizara el documento (id del documento)
                method: 'put', // Ejecutar la url con el metodo put
                headers: { // Cabecera, tipo json
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({nombre: nombre, descripcion: descripcion}) // Pasarle los datos del documento, transformandolos a json
            })
            const res = await data.json() // Obtiene la respuesta en formato json
            if (res.estado) { // Si el estado de la respuesta es verdadero...
                window.location.href = '/mascotas' // ...Redirige al usuario a /mascotas (una pagina atras de detalle)
            } else {
                console.log(res) // Muestra el error si lo hay.
            }

        } catch (error) {
            console.log(error)
        }
    })
</script>