<%- include("template/header", { titleWeb: 'Home'})%>

    <div class="container">
      <h1>CRUD MongoDB</h1>
      <a class="btn btn-success btn-block my-4" href="mascotas/crear"> Crear nueva mascota</a><!-- Botón que dirigé a la pestaña crear mascotas -->
        <table class="table"> <!-- Cremos tabla -->
            <thead>
              <tr> <!-- Cabecera de la tabla -->
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Acción</th>
              </tr>
            </thead>
            <tbody> <!-- Cuerpo de la tabla -->
            <!-- Leer todo el listado de mascotas / mas repeticón de tr / Si existe el array en la db realiza el ciclo -->
            <% if (arrayMascotas.length > 0) { %>
                <% arrayMascotas.forEach(mascota => { %> <!-- Recorre cada elemento -->
                    <tr> <!-- Este tr sera nuestro ciclo -->
                        <th scope="row"><%=mascota.id%></th> <!-- Pintar en texto plano el primer elemento (propiedades estan en al db) -->
                        <td><%=mascota.nombre%></td>
                        <td><%=mascota.descripcion%></td>
                        <td><a href="mascotas/<%=mascota.id%>" class="btn btn-warning btn-sm">EDITAR</a></td>
                      </tr>
                <% }) %>
                <% } %>
            </tbody>
          </table>
    </div>
<%- include("template/footer")%>