<%- include("template/header", { titleWeb: 'Home'})%>
<!-- PARTIALS FILES -->
<!-- This view stores the existing documents/mascotas -->
<div class="container">
  <h1>CRUD MongoDB & NodeJS</h1>
  <a class="btn btn-success btn-block my-4" href="mascotas/crear">
    Crear nueva mascota</a
  ><!-- Add new document/mascota-->
  <!-- Data stored in table -->
  <table class="table">
    <thead>
      <tr>
        <!-- Header table -->
        <th scope="col"># ID</th>
        <!-- ID  -->
        <th scope="col">Nombre</th>
        <th scope="col">Descripción</th>
        <th scope="col">Acción</th>
        <!-- Bottons -->
      </tr>
    </thead>
    <tbody>
      <!-- Body table -->
      <!-- Read data received by Server response (arrayMascotas) at 'mascotas.jg' -->
      <% if (arrayMascotas.length > 0) { %>
      <!-- Iterate 'arrayMascotas' array -->
      <% arrayMascotas.forEach(mascota => { %>
      <!-- This is the cycled structure -->
      <tr>
        <th scope="row"><%=mascota.id%></th>
        <td><%=mascota.nombre%></td>
        <td><%=mascota.descripcion%></td>
        <td>
          <!--  Dinamic Edit button, redirect to mascotas/:id where 'id' depends on the cycle document -->
          <a href="mascotas/<%=mascota.id%>" class="btn btn-warning btn-sm"
            >EDITAR
          </a>
        </td>
      </tr>
      <% }) %> <% }%>
    </tbody>
  </table>
</div>
<!-- PARTIALS FILES -->
<%- include("template/footer")%>
